:root {
  --cyan: #11998e;
  --green: #38ef7d;
  --background: #222;
  --text-color: #9b9b9b;
}

* {
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #11998e 0%, #38ef7d 99%);
  box-shadow: inset 1px 1px 3px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}
body {
  position: absolute;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  color: var(--text-color);
  background-color: var(--background);
}

#map {
  position: relative;
  z-index: 0;
  bottom: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.schedule-btn,
.route-btn {
  cursor: pointer;
  padding: 0px 30px;
}

.route-btn {
  color: white;
}

#back-btn {
  display: none;
  position: absolute;
  color: white;
  left: 60px;
  top: 55px;
  font-size: 15px;
}

#back-btn:hover {
  color: var(--cyan);
  cursor: pointer;
}

#back-btn:hover img {
  cursor: pointer;
  border: 1px var(--cyan) solid;
  background-color: var(--cyan);
}
#back-icon {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 15px;
  border: 1px white solid;
  transform: rotate(-90deg);
  margin-right: 5px;
}

.optionNav {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  font-size: 20px;
}
.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.searchContainer {
  width: 520px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 1;
  background-color: var(--background);
}
#departureHours {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 480px;
  left: 520px;
  height: 100%;
  background-color: #353434;
  z-index: 1;
}

.busModalsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 80%;
  overflow-y: scroll;
}
.stopNameModal,
.busNameModal,
.directionModal {
  margin: 10px;
  font-size: 30px;
  color: white;
}
.stopNameModal img,
.busNameModal img {
  margin-right: 10px;
}
.stopNameModal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.hours {
  font-size: 25px;
  color: white;
  margin: 5px 0px;
}

#foundRoutes {
  font-size: 20px;
  color: white;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 80%;
  position: absolute;
  top: 100px;
  visibility: hidden;
}
.deportureTime {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-right: 40px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.busImgAndNumber img {
  width: 20px;
  height: 20px;
  padding: 0px 5px;
}
.busImgAndNumber,
.buses,
.hours {
  display: flex;
  align-items: center;
}
.hiddenInfo {
  display: none;
}
.buses {
  margin-bottom: 20px;
  width: 200px;
  justify-content: space-between;
}
.hours p {
  padding-right: 10px;
}
.buses p {
  margin: 0px 10px 0px 5px;
}
.buses img {
  width: 20px;
  height: 20px;
}
.route {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 20px;
  width: calc(100% - 40px);
  height: 80px;
  color: white;
  border: 2px solid var(--text-color);
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}
.hiddenInfo {
  width: 0px;
  height: 0px;
}

.route:hover,
.route:focus {
  color: white;
  border: 2px solid var(--cyan);
}

.routeContainer {
  visibility: visible;
  position: absolute;
  top: calc(50% - 130px);
  width: 300px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.busInformations {
  display: flex;
  align-items: center;
  color: white;
  height: 100px;
  font-size: 20px;
}

.arrow-icon {
  width: 30px;
  height: 30px;
  background-color: var(--text-color);
  border: solid 1px var(--text-color);
  border-radius: 30px;
  position: absolute;
  right: 20px;
  top: calc(50% - 15px);
  rotate: -90deg;
  z-index: 1;
}

.arrow-icon:hover,
.arrow-icon:focus {
  cursor: pointer;
  background-color: var(--cyan);
  border: solid 1px var(--cyan);
}

.bus {
  padding: 20px;
  cursor: pointer;
}

.bus:hover,
.bus:focus {
  color: var(--cyan);
}

#selectedRoute {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  visibility: hidden;
  width: 300px;
  height: 80%;
}

.busInformations img {
  width: 30px;
  height: 30px;
}

#selectedRoute p {
  color: white;
  font-size: 16px;
  margin: 10px 40px;
}

/*when search bar hidden*/
.searchContainer__hidden {
  width: 0px;
}
.optionNav__hidden,
.routeContainer__hidden,
.scheduleContainer__hidden {
  height: 0px;
  display: none;
}
.arrow-icon__hidden {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: var(--cyan);
  border: solid 1px var(--cyan);
  border-radius: 30px;
  rotate: 90deg;
  left: 30px;
  top: calc(50% - 15px);
  z-index: 1;
}

.arrow-icon__hidden:hover,
.arrow-icon__hidden:focus {
  cursor: pointer;
  background-color: var(--cyan);
  border: solid 1px var(--cyan);
}
@media screen and (max-width: 1200px) {
  #departureHours {
  }
}
@media screen and (max-width: 1000px) {
  .mainContainer {
    position: relative;
    flex-direction: column;
    justify-content: center;
  }
  #departureHours {
    width: 100vw;
  }
  #foundRoutes {
    top: 70px;
    width: auto;
    height: 70%;
  }
  .searchContainer {
    width: 100vw;
    position: absolute;
    top: 0px;
    height: 380px;
  }
  .routeContainer,
  .scheduleContainer {
    position: absolute;
    top: 50px;
  }
  .scheduleContainer {
    width: 300px;
    height: 250px;
    overflow-y: auto;
  }
  .arrow-icon {
    rotate: 0deg;
    top: 325px;
    left: calc(50% - 15px);
  }

  #selectedRoute {
    margin-top: 20px;
    height: 60%;
  }

  /*when search bar hidden*/
  .searchContainer__hidden {
    width: 100%;
    height: 0px;
  }
  .optionNav__hidden,
  .routeContainer__hidden,
  .scheduleContainer__hidden {
    display: none;
  }

  .arrow-icon__hidden {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--cyan);
    border: solid 1px var(--cyan);
    border-radius: 30px;
    rotate: -180deg;
    left: calc(50% - 15px);
    top: 20px;
    z-index: 1;
  }
  .arrow-icon__hidden:hover,
  .arrow-icon__hidden:focus {
    cursor: pointer;
    background-color: var(--cyan);
    border: solid 1px var(--cyan);
  }

  #back-btn {
    left: 20px;
    top: 45px;
  }
  #back-btn {
    left: 20px;
    top: 45px;
  }
  #departureHours {
    display: none;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
  }
  #arrow-icon-hours {
    top: 94%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1100px) {
  .searchContainer {
    height: 30%;
  }
  .optionNav {
    font-size: 35px;
  }
  .arrow-icon {
    top: 88%;
  }
}
