:root {
  --cyan: #11998e;
}
.scheduleContainer {
  visibility: hidden;
  position: absolute;
  top: calc(25%);
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--text-color);
  font-size: 25px;
  z-index: 1;
}
#detailsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
}
#busDetails {
  display: none;
  justify-content: center;
  position: absolute;
  top: 80px;
  height: 80%;
  color: white;
}

.busName {
  font-size: 30px;
  margin: 0px 0px 40px 0px;
}
.busName p {
  display: inline;
  margin: 0px 20px;
}
#routes {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.selectRoute {
  margin: 30px 0px;
  font-size: 20px;
}
.selectRoute:hover {
  cursor: pointer;
}
.selectRoute:hover img {
  cursor: pointer;
  border: 1px var(--cyan) solid;
  background-color: var(--cyan);
}
.busModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
  font-size: 20px;
  color: white;
  width: 80%;
  margin-bottom: 50px;
}
#dataFirstBus,
#dataSecondBus {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
#dataFirstBus p,
#dataSecondBus p {
  margin-bottom: 3px;
}
.headerModal {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: white;
  margin-bottom: 30px;
}
.busModal img {
  margin: 7px 5px 0px 0px;
}
.selectRoute img {
  width: 13x;
  height: 13px;
  margin: 10px 0px 0px 5px;
  rotate: 180deg;
  border: 1px white solid;
  border-radius: 30px;
  background-color: white;
}
.stopName {
  font-size: 15px;
  cursor: pointer;
}

.stopName:hover {
  color: var(--cyan);
}
